@import "../../variables.modules";

.pink {
  color: $pink;
}

.green {
  color: $green;
}

.skills {
  display: grid;
  grid-template-columns: 1fr;
  @media only screen and (min-width: 940px) {
    grid-template-columns: 1fr 1fr;
  }

  li {
    line-height: 0.8;
  }
}

.bioText {
  white-space: pre-line;
  line-height: 1.5;
}
